<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Reply</title>
</head>
<body>
    <h1>Welcome to Smart Reply</h1>

    <form >
        <labal for="email-file"></labal><br>
        <input type="file" id="email-file" name="email-file"><br><br>
        <input type="submit" value="Enviar">

        <input type="text" id="email-text" nmae="email-text"><br><br>
        <input type="submit" value="Enviar">
    </form>
    <script src=""></script>
</body>
</html>