<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Reply — Formulário</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <div class="logo-box">
                <img src="/static/logo.png" alt="Logo" />
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'smart_reply:tutorial' %}">Tutorial</a></li>
            </ul>
        </nav>

        <a class="btn-primary" href="{% url 'smart_reply:home' %}">Home</a>
    </header>



    <section class="hero">
        <h1>Envie um Texto ou Arquivo <br>para Análise</h1>
    </section>


    <div class="page-card" style="margin-top: 30px;">
        <h2 style="text-align:center;">Envie um Texto ou Arquivo</h2>

        <form method="POST" enctype="multipart/form-data" style="margin-top: 25px;">
            {% csrf_token %}

            <label>Mensagem:</label><br>
            {{ form.text }}<br><br>

            <label>Arquivo (PDF ou TXT):</label><br>
            {{ form.file }}<br><br>

            <button type="submit" class="btn-primary" style="width: 100%;">Enviar</button>
        </form>
    </div>


    <footer>
        <div class="footer-left">
            <div class="logo">
                <div class="logo-box">
                    <img src="/static/logo.png" alt="Logo" />
                </div>
            </div>
            <p class="muted">2025 Feito por Emanuel Duarte.</p>
        </div>
    </footer>

</body>
</html>
