<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Smart Reply</title>
</head>
<body>

    <h2>Enviar mensagem ou arquivo</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label>Mensagem:</label><br>
        {{ form.text }}<br><br>

        <label>Arquivo (pdf ou txt):</label><br>
        {{ form.file }}<br><br>

        <button type="submit">Enviar</button>
    </form>
    <p><a href="{% url 'smart_reply_home' %}">Voltar</a></p>
</body>
</html>
