<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Reply</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <div class="logo">
            <div class="logo-box">
                <img src="/static/logo.png" alt="Logo" />
            </div>
        </div>

        <nav>
            <ul>
                <li><a href="{% url 'smart_reply:tutorial' %}">Tutorial</a></li>
            </ul>
        </nav>

        <a class="btn-primary" href="{% url 'smart_reply:process' %}">Inicie o Teste</a>
    </header>


    <section class="hero">
        <h1>Smart Reply — <br>Classificação e Resposta Automatizada</h1>
    </section>


    <div class="page-card">
        <h2 align="center">Teste Agora</h2>

        <p class="muted" align="center">
            Envie um e-mail para classificação e resposta automática.
        </p>

        <div class="card-buttons" style="margin-top: 25px;">
            <a class="btn-primary" href="{% url 'smart_reply:process' %}">Começar</a>
        </div>
    </div>


    <footer>
        <div class="footer-left">
            <div class="logo">
                <div class="logo-box">
                    <img src="/static/logo.png" alt="Logo" />
                </div>
            </div>

            <p class="muted">2025 made by Emanuel Duarte.</p>
        </div>
    </footer>

</body>
</html>
