<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Reply</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <!-- ===== HEADER ===== -->
    <header>
        <div class="logo">
            <div class="logo-box">
                <img src="/static/logo.png" alt="Logo" />
            </div>
            <span></span>
        </div>

        <nav>
            <ul>
                <li><a href="#">Documentação</a></li>
            </ul>
        </nav>

        <a class="btn-primary" href="{% url 'smart_reply:process' %}">Inicie o Teste</a>
    </header>

    <!-- ===== HERO / CONTENT ===== -->
    <section class="hero">
        <h1 align="center">Smart Reply — Classificação e <br>Resposta Automatizada</h1>
    </section>

    <div class="hero-container">
        <div class="hero-card">
            <div class="card-buttons">
                <a class="btn-primary" href="{% url 'smart_reply:process' %}">Teste Aqui</a>
            </div>
        </div>
    </div>

    <!-- ===== FOOTER ===== -->
    <footer>

        <div class="footer-left">
            <div class="logo">
                <div class="logo-box">
                    <img src="/static/logo.png" alt="Logo" />
                </div>
            </div>


            <p class="muted">2025 made by Emanuel Duarte.</p>

        </div>

    </footer>

</body>
</html>
